 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
     padding: 0;
 }

 * {
     box-sizing: border-box;
 }

 /* Scrollbar width */
 ::-webkit-scrollbar {
     width: 12px;
 }

 /* Scrollbar track */
 ::-webkit-scrollbar-track {
     background: #CBD5E0;
     /* Light grey background */
 }

 /* Scrollbar thumb */
 ::-webkit-scrollbar-thumb {
     background-color: #1E2A3A;
     /* Green thumb color */
     border-radius: 6px;
     /* Rounded corners */
     border: 3px solid #CBD5E0;
     /* Adds padding around thumb */
 }

 /* Scrollbar thumb hover */
 ::-webkit-scrollbar-thumb:hover {
     background-color: #1E2A3A;
     /* Darker green on hover */
 }

 .chatbot {
     width: 100%;
     border-radius: 0.875rem;
     background: #E6E7EB;
     overflow: hidden;
 }

 .logo img {
     cursor: pointer;
 }

 .logo {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0.3125rem;
     cursor: pointer;
 }

 .logo h2 {
     color: #FFF0F0;
     font-family: Inter;
     font-size: 1rem;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     cursor: pointer;
 }

 .chat-header {
     display: flex;
     width: 100%;
     height: 3.9375rem;
     padding: 0rem 1.875rem;
     justify-content: space-between;
     align-items: center;
     flex-shrink: 0;
     background: #1E2A3A;
 }

 .close-icon img {
     cursor: pointer;
 }


 .message-recieve {
     margin-top: 25px;
     margin-left: 25px;
     float: left;
     width: 70%;
     padding: 1.25rem;
     border-radius: 1rem;
     background: #CBD5E0;
     color: #101729;
     font-family: Inter;
     font-size: 1rem;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     cursor: pointer;
 }

 .message-box {
     overflow-y: auto;
     height: 500px;
 }

 .message-send {
     width: 70%;
     margin-top: 25px;
     margin-right: 25px;
     float: right;
     padding: 1.25rem;
     border-radius: 0.8125rem;
     background: #1E2A3A;
     color: #CBD5E0;
     font-family: Inter;
     font-size: 1rem;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     cursor: pointer;
 }

 .message-field {
     margin-top: 20px;
     display: flex;
     /* width: calc(100% - 40px); */
     /* padding: 1.25rem 1.875rem; */
     justify-content: space-between;
     align-items: center;
     border-radius: 0.875rem;
     background: #CBD5E0;
     margin: 20px 30px;
     overflow: hidden;
 }

 .message-field input {
     padding: 1rem 1rem;
     background: #CBD5E0;
     border: none;
     outline: none;
     color: #1E2A3A;
     font-family: Inter;
     font-size: 1rem;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     width: calc(100% - 70px);
 }

 .message-field button {
     margin-right: 15px;
     background: #CBD5E0;
     border: none;
     outline: none;
     cursor: pointer;
 }

 .chatbot {
     width: 423px;
     position: fixed;
     bottom: 100px;
     right: 100px;
     display: none;
 }

 .chatbot-open {
     border: none;
     outline: none;
     background: #1E2A3A;
     padding: 15px;
     border-radius: 50%;
     width:60px;
     height: 60px;
     position: fixed;
     bottom: 100px;
     right: 100px;
     box-shadow: 0px 0px 20px #101729 ;
     cursor: pointer;
 }